* {
  box-sizing: border-box;
}

#mainHeading {
color: rgb(132, 108, 23);
}

body {
    margin: 8px;
    display: block;
    background-color: bisque;
}

.funParagraph {
color: rgb(126, 22, 22);
}

#testP {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.margin {
  padding: 16px;
}
img {
    height: 10rem;
    border: solid 2px;
    border-color: black;
    border-radius: 15%;
    max-width: 500px;
}
#map {
    border-radius: 20px;
    height: 20rem;
    border: 4mm double rgba(220, 161, 72, 0.89);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-text {
  text-align: center;
}

.quote {
   background-color: rgb(255, 255, 236);
    font-weight: bold;
}

.fun {
    background-color: rgb(148, 245, 99);
    width: 250px;
}

.quiz {
    background-color: rgb(255, 255, 236);
    border: solid 2px black;
    width: 50%;
}

* {box-sizing:border-box}

.small {
  font-size: smaller;
}